@font-face{
  font-family: 'PlutoSansDPDExtraLight';
  src: url('../fonts/PlutoSansDPDExtraLight.woff2') format('woff2'),
  url('../fonts/PlutoSansDPDExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'PlutoSansDPDRegular';
  src: url('../fonts/PlutoSansDPDRegular.woff2') format('woff2'),
  url('../fonts/PlutoSansDPDRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'PlutoSansDPDLight';
  src: url('../fonts/PlutoSansDPDLight.woff2') format('woff2'),
  url('../fonts/PlutoSansDPDLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'PlutoSansDPDThin';
  src: url('../fonts/PlutoSansDPDThin.woff2') format('woff2'),
  url('../fonts/PlutoSansDPDThin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
