html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  @extend %pluto-r;
  font-size: 16px;
}
h1, h2, h3,
h4, h5, h6,
p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  display: inline-block;
  color: inherit
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}
button{
  cursor: pointer;
}
.container{
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-section__top{
  position: relative;
  &::before{
    content: '';
    background-image: url('../images/bg-top.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
  }
}



.slick-dots{
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translate(-50%, 0);
  li{
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #808285;
    border-radius: 50%;
    cursor: pointer;
    & + li{
      margin-left: 11px;
    }
    &.slick-active{
      background: #DC0032;
    }
  }
  button{
    display: none;
  }
}