%pluto-e{
  font-family: 'PlutoSansDPDExtraLight';
  font-weight: 200;
}

%pluto-l{
  font-family: 'PlutoSansDPDLight';
  font-weight: 300;
}

%pluto-r{
  font-family: 'PlutoSansDPDRegular';
  font-weight: 400;
}

%pluto-t{
  font-family: 'PlutoSansDPDThin';
  font-weight: 100;
}